<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<div id="content">
    <img id="main-image" title= "Mini-Shopify" alt= "Mini-Shopify" src="/images/main.png">
    <h2>Login</h2>
    <form action="/login" method="get">
        <div>
        <span>
            Username: <input type="text" name="username" />
            Password: <input type="text" name="password" />
        </span>
            <span>
            <input type="submit" value="Login"/>
        </span>
        </div>
        <p><a href="/registration.html">New User?</a></p>
    </form>
</div>


<!--    <h1>Mini-Shopify</h1>-->

<!--    <div><a href = "manager.html">Continue as Seller</a></div>-->

<!--    <br>-->
<!--    <span>Go to shop:</span>-->
<!--    <span>-->
<!--        <form action="/getBuyerShop" method="get">-->
<!--            <div>-->
<!--            <span>-->
<!--                name: <input type="text" name="name" />-->
<!--            </span>-->
<!--                <span>-->
<!--                <input type="submit" value="Go to store"/>-->
<!--            </span>-->
<!--            </div>-->

<!--        </form>-->
<!--    </span>-->
<!--    <br>-->
<!--    <br>-->
<!--    <br>-->

<!--    <div id = "shops-container">-->
<!--        Place holder to show shops available so users can go to them in one click-->
<!--    </div>-->

</body>
</html>