<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
</head>
<body>
    <h1>Mini-Shopify</h1>




    <form action="#" th:action="@{/addressBook}" method="get">
        <p><input type="submit" value="Show Cart"/></p>
    </form>
<!--
    <h2>Create a book</h2>
    <form action="#" th:action="@{/createBook}" method="get">
        <p>Id: <input type="text" th:name="id" /></p>
        <p><input type="submit" value="Create Book"/></p>
    </form>
-->
    <h2>Add Product:</h2>
    <form action="#" th:action="@{/addBuddy}" method="get">
        <p>Name: <input type="text" th:name="name" /></p>
        <p>Quantity: <input type="text" th:name="quantity" /></p>
        <p>Category: <input type="text" th:name="category" /></p>
     <!--   <p>phone: <input type="text" th:name="phone" /></p> -->
        <p><input type="submit" value="Add Product"/></p>
    </form>
</body>
</html>