<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<h1 th:text = "'Welcome to ' +${shop.name}"></h1>

<h2>User's view</h2>

<h3>List of Products</h3>
<table border = 1>
    <thead>
    <tr>
        <th>Shop Name</th><th>Product Title</th><th>Description</th><th>Price</th><th>Quantity</th><th>Cart</th>
    </tr>
    </thead>

    <tbody th:each="product: ${shop.products}">
    <tr>
        <form  action="#" th:action="@{/addToCart}" method="get">
          <!--  <td th:text="${shop.name}" ></td> -->
            <td> <input th:name="name" th:value="${shop.name}" ></td>
            <td> <input th:name="title" th:value="${product.title}" ></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td ><input th:name="number" th:value="0"/></td>
            <td ><input hidden th:name="userId" th:value="${user.id}"/></td>
            <td ><input  type="submit" value="Add to Cart" /></td>
        </form>
    </tr>
    </tbody>
</table>

<form action="/viewCart" method="get">
    <input hidden th:name="userId" th:value="${user.id}"/>
<td ><input  type="submit" value="View Your Cart" /></td>
</form>

<form action="/signOut" method="get">
    <td ><input hidden th:name="userId" th:value="${user.id}"/></td>
</form>
<p><a href="/">Main page</a></p>

</body>
</html>