<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<header class="header">
    <div>
        <span><a th:href="@{/welcome(userId=${user.id})}"><img class="logo" title="Home" alt="shopify-logo" src="images/logo.png"></a></span>
    </div>
</header>

<div class = "main-container">
    <section>
        <h1 th:text = "'Welcome to ' +${shop.name}"></h1>

        <h3>List of Products</h3>

        <div class="table-container">
            <table class="table shop-user-table">
                <thead>
                <tr class="row-header">
                    <th>Product Name</th><th>Description</th><th>Price</th><th>Quantity</th><th>Cart</th>
                </tr>
                </thead>

                <tbody>
                <tr class="row-body" th:each="product: ${shop.products}">
                    <form  action="#" th:action="@{/addToCart}" method="get">
                        <input hidden th:name="name" th:value="${shop.name}"/>
                        <input hidden th:name="title" th:value="${product.title}"/>
                        <input hidden th:name="userId" th:value="${user.id}"/>
                        <td class ="cell-body" th:text="${product.title}"></td>
                        <td class ="cell-body" th:text="${product.description}"></td>
                        <td class ="cell-body number" th:text="${product.price}"></td>
                        <td class ="cell-body number"><input type="number" th:name="number" value="0" min="0"/></td>
                        <td class ="cell-body"><input class="button-cart" type="submit" value="Add to Cart" /></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="buttons-back-container shop-user">
            <span><a th:href="@{/shopList(userId=${user.id})}"><button>Go Back</button></a></span>
            <span><a th:href="@{/viewCart(userId=${user.id},name=${shop.name})}"><button>View Cart</button></a></span>
            <span><a th:href="@{/signOut(userId=${user.id})}"><button>Sign Out</button></a></span>
        </div>

    </section>
</div>

<footer class="footer">
    <span class="developed-by">Developed by <em><b>Team 24</b></em></span>
</footer>
</body>
</html>