<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<header class="header">
    <div>
        <span><a th:href="@{/welcome(userId=${user.id})}"><img class="logo" title="Home" alt="shopify-logo" src="images/logo.png"></a></span>
    </div>
</header>

<div class="main-container">
    <section>
        <h1 th:text = "'Welcome to your store ' +${shop.name}"></h1>

        <p>Your shop id is: <span th:text="${shop.id}"></span></p>

        <h3>Add item</h3>
        <form action="#" th:action="@{/addItem}"  method="get">
            <input type="hidden" name="id" th:value="${shop.id}"/>
            <p>Product name: <input th:name="name"/></p>
            <p>Product description: <input th:name="description"/></p>
            <p>Product price :<input th:name="price"/></p>
            <p>Product Quantity :<input th:name="quantity"/></p>
            <input hidden th:name="userId" th:value="${user.id}"/>
            <!--    <p>Number of products :<input th:name="inventory"/></p>-->

            <p><input type="submit" value="Add Product"/></p>
        </form>

        <h3>List of Products</h3>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr class="row-header">
                    <th>Name</th><th>Description</th><th>Price</th><th>Quantity</th>
                </tr>
                </thead>
                <tbody >
                <tr class="row-body" th:each="product: ${shop.products}">
                    <td class="cell-body" th:text="${product.title}"></td>
                    <td class="cell-body"  th:text="${product.description}"></td>
                    <td class="cell-body"  th:text="${product.price}">$</td>
                    <td class="cell-body"  th:text="${product.quantity}"></td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="buttons-back-container">
            <span><a th:href="@{/welcome(userId=${user.id})}"><button>Go Back</button></a></span>
            <span><a th:href="@{/signOut(userId=${user.id})}"><button>Sign Out</button></a></span>
        </div>

    </section>
</div>

<footer class="footer">
    <span class="developed-by">Developed by <em><b>Team 24</b></em></span>
</footer>
</body>
</html>