<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<header class="header">
    <div>
        <span><a th:href="@{/welcome(userId=${user.id})}"><img class="logo" title="Home" alt="shopify-logo" src="images/logo.png"></a></span>
    </div>
</header>

<div class="main-container">
    <section>
        <h1 th:text = "'Welcome to your store ' +${shop.name}"></h1>

        <h3>Add item</h3>
        <form action="#" th:action="@{/addItem}" th:object="${product}" method="post">
            <input type="hidden" name="shopName" th:value="${shop.name}"/>
            <p>Product name: <input type="text" th:field="*{title}"/></p>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error: </td>
            <p>Product description: <input th:field="*{description}"/></p>
            <p>Product price :<input th:type="number" th:field="*{price}"/></p>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error: </td>
            <p>Product Quantity :<input th:type="number" th:field="*{quantity}"/></p>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Error: </td>
            <input hidden th:name="userId" th:value="${user.id}"/>
            <!--    <p>Number of products :<input th:name="inventory"/></p>-->

            <p><input type="submit" value="Add Product"/></p>
        </form>

        <h3>List of Products</h3>
        <div class="table-container">
            <table class="table">
                <thead>
                <tr class="row-header">
                    <th>Name</th><th>Description</th><th>Price</th><th>Quantity</th>
                </tr>
                </thead>
                <tbody >
                <tr class="row-body" th:each="product: ${shop.products}">
                    <td class="cell-body" th:text="${product.title}"></td>
                    <td class="cell-body"  th:text="${product.description}"></td>
                    <td class="cell-body"  th:text="${product.price}">$</td>
                    <td class="cell-body"  th:text="${product.quantity}"></td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="buttons-back-container">
            <span><a th:href="@{/welcome(userId=${user.id})}"><button>Go Back</button></a></span>
            <span><a th:href="@{/signOut(userId=${user.id})}"><button>Sign Out</button></a></span>
        </div>

    </section>
</div>

<footer class="footer">
    <span class="developed-by">Developed by <em><b>Aryan Rashidi-Tabrizi</b></em></span>
</footer>
</body>
</html>