<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mini-Shopify</title>
    <link rel = "icon" href ="/images/icon.png" type = "image/x-icon">
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<div id="content">
    <img id="main-image" title= "Mini-Shopify" alt= "Mini-Shopify" src="/images/main.png">

    <form action="/goShopping"  method="get">
        <input hidden th:name="userId" th:value="${user.id}"/>
        <input  type="submit" value="Go Shopping" />
    </form>



    <form action="/goManaging"  method="get">
        <input hidden th:name="userId" th:value="${user.id}"/>
        <input  type="submit" value="Create or Manage Your Store" />
    </form>


    <div class="button sign-out">
        <form action="/signOut"  method="get">
            <!--<input name="userId" value="${user.id}"  > -->
            <input hidden th:name="userId" th:value="${user.id}"/>
            <input  type="submit" value="Sign Out" />
        </form>
    </div>
</div>

</body>
</html>